


/* second navbar */
.second-navbar{
    background-color: #1c1d1f;
    color: white;
    width: 100%;
    left: 0;
    top: 0;    
    position: fixed;
    transform: translateY(0);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0, 0, 0.38, 0.9);
    transition-delay: 0s;
    box-shadow: 0 2px 4px rgb(0 0 0 / 8%), 0 4px 12px rgb(0 0 0 / 16%);
    padding: 1.1rem 1.6rem 0.2rem 1.6rem;
    z-index: 2;
    height: 80px;
}
/* course title */
.second-navbar h2{
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    min-width: 0;
    margin-bottom: 0.4rem;
    font-size: 1rem;
    margin: 0;
    padding: 0;
}
/* rating and bestseller */
.rating-seller{
    display: flex;
    font-weight: 400;
    font-size: 0.9rem;
    align-items: center;
}
/* bestseller box */
.best-seller{
    background-color: #eceb98;
    color: #3d3c0a;
    font-size: 0.75rem;
    font-weight: 700;
    padding: 4px 8px;
    margin: 5px 7px 10px 0px;
    text-align: center ;
    line-height: 1.4;
}
.rating-seller .best-seller span{
    font-weight: 750;
}
/* rating */
.rating-seller a{
    text-decoration: none;
    color: #fff;
    margin: 4px 7px 10px 0px;
}
/*stars number */
.rating-seller a .stars-number{
    color: #f3ca8c;
    font-size: 0.8rem;
    font-weight: 800;
}
/* star */
.rating-seller a .star-color{
    color: #f3ca8c;
    font-size: 0.7rem;
    font-weight: 700;
}
/* rating number */
.rating-number{
    color: #cec0fc;
    text-decoration: underline;
}
/* number of students */ 
.nav-student-numbers{
    margin: 4px 7px 10px 0px;
    color: white;
}
/* start course details*/
.details-continer{
    
    background-color: #1c1d1f;
    padding-bottom: 1.2rem;
}
.details-menu{ 
      display: flex;
      flex-wrap: nowrap;
      padding: 0.4rem;
      margin: 0 -0.4rem;
      overflow: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      touch-action: manipulation;
}
  .details-menu a{
    color: #cec0fc;
    padding: 0.4rem 0;
    white-space: nowrap;
    scroll-snap-align: start;
    font-weight:bold;
    font-size: 0.9rem;
  }
  .details-menu span{
    color: #fff;
    padding: 0.4rem 0;
    font-size: 0.9rem;
  }
  .details-header{
    font-size: 2rem;
    color: white;
  }
  .details-header2{
    font-size: 1.2rem;
    margin-bottom: 0.6rem;
    color: white;
  }
  .details-author{
    display: block;
    margin: 0;
    padding: 0;
    color:white;
    font-size: 0.8rem;
  }
  .details-author a {
    text-decoration: underline;
    white-space: normal;
    color: #cec0fc;
  }
  .details-more{
    margin: 0;
    padding: 0;
    font-family: udemy sans,sf pro text,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 400;
    line-height: 1.4;
    font-size: 0.8rem;

  }
  .padleft{
    margin-left: 1%;
}
  .details-more div span,.details-more div p{
     color: white;
  }
  .details-more div i{
    color: white;
    height: 1.6rem;
  }
  .more-btn{
    border: none;
    color: white;
    background: transparent;
    text-decoration: underline;
  }
  .last-up{
    margin: 6px 0;
  }
  .last-updated{
    margin-right: 15px;
  }
  /* end course details*/
/* start third navbar*/
.third-navbar{
    border-bottom: 1px solid #d1d7dc;
}
.third-navbar .container .row a{
    text-decoration: none;
    color: #6a6f73;
    cursor: pointer;
    font-weight: 700;
    text-align: center;
    letter-spacing: -.02rem;
    font-size: 1rem;
    line-height: 50px;
}
.third-navbar .container .row a:hover{
    color: black;
    border-bottom: #1c1d1f 2px solid;
}
/* end third navbar*/
/* start of what u will learn */
.what-learn ul{
    font-size: 0.9rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: 100%;
}
.container .spancheck{
    display: inline-block;
    width: 43%;
    padding-right: 2%;
    margin-bottom: 10px;
}
.container .checki{
    justify-content: flex-end;
    display: inline-block;
    width: 5%;
}
.what-learn h2{
    margin: 3% 0 2% 4%;
    font-weight: bold;
    font-size: 1.2rem;
}
.what-learn{
    border: 1px solid #d1d7dc;
    margin-top: 1%;
    margin-bottom: 2%;
}
/* end of what u will learn */
/* start course content */
.lecture-time{
    margin:10px 20px;
}
.lecture-title{
    margin:10px 20px;
}
.collapseicon{
    margin-right: 20px;
}
.btn-header{
    color: #1c1d1f!important;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 1rem;
    line-height: 40px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    background-color: #f7f9fa;
}
.chapter-data ul{
    display: block;
    list-style: none;
}
.chapter-data ul li {
    margin: 3% 0 ;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
}
.section-time{
    color: #6a6f73;
    margin-right: 2%;
}
.course-info{
    font-size: 0.8rem;
    margin: 10px 0;
}
.course-content-title{
    margin: 20px 0;
}
/* end of course content*/

/* start of requirement*/
.requirment-header{
    font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -.02rem;
    font-size: 1.4rem;
    margin-top: 4%;
    margin-bottom: 20px;
}
.requirment-list ul{
    display: block;
}
.requirment-list li{
  font-size:1rem;
  font-weight: 500;
  color: #1c1d1f;
  padding : 0.1rem 0;
}
/* end of requirement */
/* start of description */
.description-details{
    font-size: 0.9rem;
    margin-top: 20px;
}
.target-person li{
    margin-bottom: 10px;
    font-size: 0.9rem;
}
/* end of description */
/* start of instructor */
.instractor h2{
    font-weight: 700;
    line-height: 1;
    letter-spacing: -.02rem;
    font-size: 1.5rem;
    margin: 20px 0;
  }
  .instractor-name  {
    text-decoration: underline;
    text-underline-offset: 0.4rem;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -.02rem;
    font-size: 1.1rem;
    color: #5624d0;
  }
  .instractor-name-info{
    margin-top: 5px;
    color: #6a6f73;
    font-weight: 400;
    line-height: 1.4;
    font-size: 1.6rem;
  }
  .instractor-img{
      width: 11.2rem!important;
      height: 11.2rem!important;
      border: 1px solid #d1d7dc;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      object-fit: cover;
      color: #fff;
      vertical-align: middle;
      aspect-ratio: auto 64 / 64;
      cursor: pointer;
  }
  .instractor ul{
    list-style: none;
  }
  .instractor-ul ul{
    display: block;
  }
  .instractor li{
    color: #1c1d1f;
    display: flex;
    font-weight: 400;
    
    font-size: 0.9rem;
     padding-top: 20px; 
  }
  .instractor li i{
    color: #1c1d1f;
    width: 1.6rem;
    height: 1.6rem;
  }
  .instractor-ul{
    display: flex;
    margin-top: 15px;
  }
  .instractor-p{
     
      margin-block-start: 1em;
      margin-block-end: 1em;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      overflow: visible;
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin-top: 1.6rem;
      margin-bottom: 0.8rem;
      font-size: 0.9rem;
  }
/* end of instructor */

/*start of review section*/

/* start of review search */
.review-header{
  margin-top: 20px;
}
.review-search-icon{
    font-size: 1rem;
    padding: 14px 5px;
    color: white;
    margin-right: 1%;
    width: 100%;
}
.review-search-btn{
    cursor: pointer;
  outline: none;
  border: none;
  background: transparent;
    background-color: black;
}
.reviews-search-form{
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    height: 45px;
}

.reviews-search-input{
    width: 70%;
    outline: none;
    font-size: 1rem;
    height: 100%;
    padding: 1rem;
    border: black 2px solid;
    overflow: hidden;
    position: relative;
    background: transparent;
}

.rating-selector{
    width: 20%;
    margin-left: 2%;
    font-size: 1rem;
    padding-left: 15px;
}
/* end of review search*/

/*strat of review cart*/
.review-cir{
  border-radius: 100%;
  background-color: #1c1d1f;
  display: inline-block;
  color: white;
  font-size: 0.9rem;
  width: 40px;
  height: 40px;
  text-align: center;
  padding-top: 10px;
  font-weight: bold;
  margin-right: 15px;
}
.review-header-data{
  font-size: 0.8rem;
  margin-bottom: 10px;
}
.review-header-data h4{
  color: #1c1d1f;
  font-weight: bold;
  font-size: 1rem;
}
.review-header-data i{
  color: orange;
  font-size: 0.7rem;
}
.review-header-data span{
  color:#6a6f73;
  font-size: 0.8rem;
}
.review-cart{
  border-bottom:1px solid #d1d7dc;
  width: 100%;
  height: 250px;
  margin-bottom: 30px;
  display: flex;
}
.review-content{
  font-size: 0.8rem;
  font-weight: 400;
  color: #1c1d1f;
  line-height: 1.4;
  width: 95%;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5; /* number of lines to show */
  line-clamp: 5;
  -webkit-box-orient: vertical;
}
.helpful{
  font-size: 0.8rem;
  margin-top: 8px;
  line-height: 1.1;
}
.helpful button{
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background: white;
  font-size: 1.1rem;
  text-align: center;
  margin-right: 10px;
}
.helpful a {
  color: #1c1d1f;
}
/* end of review cart */

/* end of review section */
/*
.feadback-rating{
  font-size: 1rem;
  margin-top: 40px;
  margin-left: 40px;
}
.feadback-flow{
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

progress {
  width: 320px;
  font-size: 0.7rem;
  border-radius: 0;
  
}
progress::-webkit-progress-value {
  background: #6a6f73;
}
progress::-webkit-progress-bar {
  background-color: #d1d7dc; width: 100%;
}
.checked {
  color: orange;
}
.feadback-img{
  font-size: 70px;
  color: #b4690e;
  font-weight: bold;
}
.feadback-flow p{
 font-size: 15px;
 color: #b4690e;
 font-weight: bold;
}
.feadback-rating-flow2{
   font-size: 1rem;
}
*/
/*start of feedback */
.feadback-flow{
  display: flex;
  flex-flow: row wrap;
  list-style: none;
}
progress {
  border: none;
  display: block;
  width: 250px;
  margin: 20px;

}
progress::-webkit-progress-value {
  background: #6a6f73;
}
progress::-webkit-progress-bar {
  background-color: #d1d7dc; width: 100%;
}
.checked {
  color: orange;
}
.feadback-img{
  font-size: 80px;
  color: #b4690e;
  font-weight: bold;

}
.feedback-summary{
  margin-top: -5px;
}
.feadback-flow p{
 font-size: 15px;
 color: #b4690e;
 font-weight: bold;
}
.feadback-rating-flow2{
   display: block;
   margin-top: 12px;
  font-size: 1.1rem;
}
.feadback-rating-flow2 span{
  margin-bottom: 8px;
}
.feadback-rating-flow2 a{
  color: #5624d0;
}
.feedback-star{
  font-size: 1rem;
}
/* end of feedback  */
/* start of course cart */
.course-cart{
  width: 400px;
  background-color: white;
  font-size: 1rem;
  color: black;
  border: #1c1d1f 1px solid;
  margin: 50px;
  z-index: 1;
  position: absolute;
  top: 80px;
  right: 0;
}
.cart-img{
  width: 100%;
}
.cart-img img{
  width: 100%;
}
.cart-container{
  margin: 20px;
  
}
.cart-price{
  color: #1c1d1f;
  font-size: 2rem;
  font-weight: bold;
}
.discound-price{
  color: #6a6f73;
  text-decoration: line-through;
}
.cart-off{
  color: #1c1d1f;
  display: block;
  font-size: 1rem;
}
.cart-last-price{
  color: #b32d0f;
  font-size: 0.9rem;
}
.discound-cart{
  margin-bottom: 12px;
}
.add-to-cart{
  width: 90%;
  height: 3rem;
  margin-top: 2%;
  background-color: #8710d8;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 700;
  color: white;
}
.buy-now{
  width: 90%;
  height: 3rem;
  margin-top: 2%;
  background-color: transparent;
  border: 1px solid #1c1d1f;
  font-size: 1rem;
  font-weight: 700;
}
.money-back{
  font-size: 0.8rem;
  font-weight: 400;
  margin: 20px 0;
  text-align: center;
}
.money-back span{
  margin-left: -20px;
}
.course-cart-data-include h3{
  font-size: 1rem;
  font-weight:bold;
}
.course-cart-data-include ul{
  list-style: none;
  margin: 0;
}
.course-cart-data-include li{
  margin-left: -2rem;
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 10px;
}
.course-cart-data-include li i{
  padding-right: 5px;
  color: #2d3236;
  width: 20px;
}
.share-gift-coupon a{
  text-decoration: none;
  color: black;
  font-size: 0.9rem;
  font-weight: bold;
  padding-bottom: 2px;
  border-bottom: #1c1d1f 1px solid;
}
.share-gift-coupon{
  width: 85%;
  display: flex;
  justify-content: space-between;
}
.share-gift-coupon button{
  text-decoration: none;
  background: transparent;
  outline: none;
  border: none;
}
.cart-container h4{
  font-size: 1.2rem;
  font-weight: bold;
}
.cart-container p{
  font-size: 0.9rem;
  font-weight: 400;
}

/* end of course cart */

/* start of footer */
footer{
  background: #1c1d1f;
  border-top: 1px solid #3e4143;
  color: #fff;
  padding: 0 40px;
  font-size: 0.9rem;
}

.footer-secsion1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap; 
    height: 90px;
    margin-bottom: 40px;
    border-color: white;
    font-size: 0.9rem;
    
}
.footer-line{
  margin: -25px -35px 30px -35px;
}
.footer-secsion1 img{
  margin: 5px;
}
.footer-secsion1-div1{
  font-family: udemy sans,-apple-system,BlinkMacSystemFont,Roboto,segoe ui,Helvetica,Arial,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol;
  font-weight: 700;
  letter-spacing: -0.0rem;
  font-size: 1.2rem; 
  
}
.footer-secsion1-div1 a{
  color: #cec0fc;
  text-decoration: underline;
}
.footer-secsion2{
  display: flex;
  height: 200px;

 
}
.footer-secsion2 ul{
  flex-basis: 25.6rem;
    margin-right: 1.6rem;
    margin-bottom: 0;
    list-style: none;
    margin: 0;
    padding: 0; 
    max-width: none;
}
.footer-secsion2 li a{
  color: white;
}
.footer-secsion3 {
   display: flex;
   justify-content: space-between;
}
.footer-secsion3 img{
  height: 35px;
  background-color: transparent;
  margin-bottom: 100px;
}
.footer-secsion3 span{
 color: white;
 font-size: 0.9rem;
}

.footer-secsion2 button{
   background-color: transparent;
  border-color: wheat;
  height: 40px;
  width: 150px;


}
.footer-secsion2 button span{
  color: white;
 
}
.footer-secsion2 button i{
  color: white;
 
}
/* end of footer */